* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}


html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body.lock {
	overflow: hidden;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*-----------------*/

.wrapper {
	overflow: hidden;
}

.wrapper::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(245, 245, 245) url('../img/loading.gif') center / 50px no-repeat;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.wrapper.load::before {
	opacity: 1;
	visibility: visible;
}


.header {
	width: 100%;
	padding: 60px 0px 60px 22%;
	background-color: #ccb78f;
}

.header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__body {
	color: #000;
	font-weight: 700;
	font-size: 44px;
}

.section {
	width: 100%;
	padding: 0px 0px 0px 22%;
	margin: 50px 0px 0px 0px;
}

.section__conatiner {
	max-width: 1140px;
	margin: 0px auto;
}

.section__topblock {}

.section__title {
	color: rgba(0, 0, 0, 0.8);
	font-size: 32px;
	line-height: 1.5;
	font-weight: 600;
}

.section__first-row {
	display: flex;
	margin: 0px -20px;
}

.section__first-row-column {
	flex: 0 1 33.333%;
	background-color: #f0f0f0;
	margin: 20px;
	padding: 20px;
}

.section__first-row-column p {
	font-size: 16px;
	line-height: 1.5;
	color: #555;
	font-weight: 600;
}

.section__first-row-column a {
	color: #3d3d3d;
}

.section__buttomblock {
	display: flex;
	margin: 30px 0px 0px 0px;
}

.section__row1 {
	flex: 0 1 50%;
	padding: 30px 60px;
	background-color: #f0f0f0;
}

.form__body {
	position: relative;
}

.form__body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.507) url('../img/loading.gif') center / 50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}

.form__body.sending::after {
	opacity: 1;
	visibility: visible;
}



.name__input {
	display: block;
	font-size: 18px;
	width: 444px;
	height: 52px;
	margin: 0px 0px 20px 0px;
	padding: 0px 10px;
	border: 1px solid #ced4da;
}

.name__input.error {
	box-shadow: 0 0 20px rgba(255, 0, 0, 0.801);
}

.name__input:focus,
.textarea:focus {
	border: 1px solid #000000;
}

.input__email {}

.textarea {
	font-size: 18px;
	width: 444px;
	height: 171px;
	margin: 0px 0px 20px 0px;
	padding: 5px 10px;
	border: 1px solid #ced4da;
}

.button {
	display: block;
	background-color: #ccb78f;
	border: 1px solid #ccb78f;
	color: #fff;
	width: 213px;
	height: 58px;
	border-radius: 30px;
	font-size: 16px;
	transition: all 0.5s ease 0s;
}

.button:hover {
	background-color: #fff;
	color: #ccb78f;
}

.button:active {
	color: #212529;
	background-color: #4ac7ea;
	border-color: #3fc3e8;
}

.section__row2 {
	flex: 0 1 50%;
	margin: 0px 0px 0px 20px;
}

.map {
	width: 100%;
	height: 100%;
}



.sit-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 22%;
	height: 100%;
	background-color: rgb(235, 235, 235);
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.5s ease 0s;
}


.avatar {
	display: block;
	position: relative;
	top: 0;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
}

.avatar img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transform: scale(1);
}

.user-name {
	margin: 15px 0px 0px 0px;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}

.sit-bar__container {}

.sit-bar__list {
	text-align: center;
	margin: 30px 0px 0px 0px;
}

.sit-bar__list a {
	font-size: 22px;
	display: block;
	margin: 0px 0px 15px 0px;
	color: #555;
	font-weight: 600;
	position: relative;
	top: 0;
}

.sit-bar__list .contact {
	color: #111;
}

.contact::after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 50%;
	height: 1px;
	background-color: #555;
	transform: translate(-50%, 0%);
}

.sit-bar__list a:hover {
	color: #222;
}

.sit-bar__list a:hover::after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 50%;
	height: 1px;
	background-color: #555;
	transform: translate(-50%, 0%) scale(0);
	animation: black-circal 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate 0s forwards;
}



@keyframes black-circal {
	0% {}

	100% {
		transform: translate(-50%, 0%) scale(1);
	}
}


.site-bar__burger {
	display: none;
}

.list {
	display: none;
}




.footer {
	width: 100%;
	padding: 50px 0px 50px 22%;
	background-color: #242423;
	margin: 100px 0px 0px 0px;
}

.footer__container {
	max-width: 1000px;
	margin: 0px auto;
}

.footer__row {
	display: flex;
	align-items: center;
}

.footer__column {
	flex: 0 1 50%;
}

.row {
	display: flex;
	flex-wrap: wrap;

}

.nav__ribbon-img2 {
	flex: 0 1 25%;
	margin: 0px 0px 0px 2px;
}

.nav__ribbon-img2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


.footer__title {
	color: #fff;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.footer__adress {
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 24px;
}

.footer__adress span {
	display: inline-block;
	width: 250px;
	font-size: 18px;
	line-height: 24px;
	color: rgb(207, 207, 207);
	margin: 0px 0px 0px 10px;
}




.fa-location-dot {}

.footer__phone {
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}

.footer__phone span {
	display: inline-block;
	width: 200px;
	font-size: 16px;
	color: rgb(207, 207, 207);
	margin: 0px 5px 0px 10px;
	font-size: 18px;

}

.fa-circle-phone {}

@media(max-width: 992px) {
	.avatar {
		position: relative;
		top: 0;
		width: 140px;
		height: 140px;

	}

	.section {
		width: 100%;
		padding: 0px 10px;
	}

	.sit-bar {
		left: -100%;
	}

	.sit-bar.active {
		left: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		z-index: 10;
	}

	.block {
		padding: 0px 15px;
	}

	.site-bar__burger {
		display: block;
		position: absolute;
		left: 10px;
		top: 15px;
		width: 30px;
		height: 20px;
		z-index: 10;
	}

	.site-bar__burger::before,
	.site-bar__burger::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #111;
		transition: all 0.5s ease 0s;
	}

	.site-bar__burger::before {
		top: 0;
	}

	.site-bar__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.site-bar__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.site-bar__burger.active span {
		transform: scale(0);
	}

	.site-bar__burger span {
		display: block;
		position: absolute;
		top: 9px;
		width: 100%;
		height: 2px;
		background-color: #111;
		transition: all 0.5s ease 0s;
	}

	.site-bar__burger::after {
		bottom: 0;
	}

	.list.active {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.507);
		z-index: 4;
		transition: all 0.5s ease 0s;
	}

	.footer {
		padding: 50px 20px 50px 20px;
	}

	.footer__row {
		flex-wrap: wrap;
	}

	.footer__column {
		flex: 1 1 auto;
		margin: 0px 0px 30px 0px;
	}
}

@media(max-width: 860px) {
	.block__row {
		display: flex;
		flex-wrap: wrap;
	}

	.block__column {
		flex: 1 1 50%;
	}

	.section__first-row {
		flex-wrap: wrap;
	}

	.section__first-row-column {
		flex: 1 1 auto;
		margin: 10px;
	}

	.section__topblock {
		padding: 10px;
	}

	.header {
		padding: 50px 0px 50px 20px;
	}

	.header__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.section__buttomblock {
		display: block;
	}

	.section__row1 {
		padding: 30px 30px;
		background-color: #f0f0f0;
		margin: 0px 0px 30px 0px;
	}

	.section__row2 {
		margin: 0px 0px 0px 0px;
		padding: 0px 5px 0px 0px;
	}

	.map {
		max-width: 100%;
		height: 100%;
	}

}

@media(max-width: 420px) {
	.block__column {
		flex: 1 1 100%;
	}


	.section__row1 {
		padding: 30px 10px;
	}

	.name__input {
		width: 290px;
		height: 44px;
		margin: 0px 0px 20px 0px;
		font-size: 16px;
	}

	.textarea {
		max-width: 290px;
		height: 150px;
		font-size: 16px;
	}

	.button {
		width: 150px;
		height: 48px;
		margin: 0px auto;
	}

	.map {
		height: 300px;
	}
}