* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}


html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body.lock {
	overflow: hidden;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*-----------------*/

.wrapper {
	overflow: hidden;
}

.wrapper::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(245, 245, 245) url('../img/loading.gif') center / 50px no-repeat;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.wrapper.load::before {
	opacity: 1;
	visibility: visible;
}


.header {
	width: 100%;
	padding: 60px 0px 60px 22%;
	background-color: #ccb78f;
}

.header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__body {
	color: #000;
	font-weight: 700;
	font-size: 44px;
}






.sit-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 22%;
	height: 100%;
	background-color: rgb(235, 235, 235);
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.5s ease 0s;
}

.avatar {
	position: relative;
	top: 0;
	left: 27px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
}

.avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transform: scale(1);
}

.user-name {
	margin: 15px 0px 20px 0px;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}


.sit-bar__container {}

.sit-bar__list {
	text-align: center;
	margin: 30px 0px 0px 0px;
}

.sit-bar__list a {
	font-size: 22px;
	display: block;
	margin: 0px 0px 15px 0px;
	color: #555;
	font-weight: 600;
	position: relative;
	top: 0;
}

.sit-bar__list .drawings {
	color: #111;
}

.drawings::after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 50%;
	height: 1px;
	background-color: #555;
	transform: translate(-50%, 0%);
}

.sit-bar__list a:hover {
	color: #222;
}

.sit-bar__list a:hover::after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 50%;
	height: 1px;
	background-color: #555;
	transform: translate(-50%, 0%) scale(0);
	animation: black-circal 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate 0s forwards;
}



@keyframes black-circal {
	0% {}

	100% {
		transform: translate(-50%, 0%) scale(1);
	}
}


.site-bar__burger {
	display: none;
}

.list {
	display: none;
}


.nav {
	width: 100%;
	padding: 50px 0px 50px 22%;
}

.nav__container {
	max-width: 1200px;
	margin: 0px auto;
}

.nav__row {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	flex: 0 1 33.333%;
	height: 400px;
	overflow: hidden;
}

.gallery-item-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(89, 89, 89, 0.646);
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	opacity: 0;
	transition: all 0.5s ease 0s;

}

.gallery-item-hover:hover {
	opacity: 1;
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.5s ease 0s;

}

.gallery-item:hover img {
	transform: scale(1.1) rotate(2deg);
}

.footer {
	width: 100%;
	padding: 50px 0px 50px 22%;
	background-color: #242423;
	margin: 100px 0px 0px 0px;
}

.footer__container {
	max-width: 1150px;
	margin: 0px auto;
}

.footer__row {
	display: flex;
	justify-content: space-between;
}

.footer__column {}



.fa-location-dot {}

.footer__phone {
	color: #fff;
	font-size: 22px;
	margin: 20px 0px 0px 0px;
}


.fa-circle-phone {}

@media(max-width: 992px) {
	.avatar {
		position: relative;
		top: 0;
		width: 140px;
		height: 140px;

	}

	.sit-bar {
		left: -100%;
	}

	.sit-bar.active {
		left: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		z-index: 10;
	}

	.nav {
		padding: 0px 15px;
		margin: 50px 0px 0px 0px;
	}

	.gallery-item {
		flex: 0 1 50%;
	}

	.site-bar__burger {
		display: block;
		position: absolute;
		left: 10px;
		top: 15px;
		width: 30px;
		height: 20px;
		z-index: 10;
	}

	.site-bar__burger::before,
	.site-bar__burger::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #111;
		transition: all 0.5s ease 0s;
	}

	.site-bar__burger::before {
		top: 0;
	}

	.site-bar__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.site-bar__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.site-bar__burger.active span {
		transform: scale(0);
	}

	.site-bar__burger span {
		display: block;
		position: absolute;
		top: 9px;
		width: 100%;
		height: 2px;
		background-color: #111;
		transition: all 0.5s ease 0s;
	}

	.site-bar__burger::after {
		bottom: 0;
	}

	.list.active {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.507);
		z-index: 4;
		transition: all 0.5s ease 0s;
	}

	.footer {
		padding: 50px 20px 50px 20px;
	}
}

@media(max-width: 860px) {
	.block__row {
		display: flex;
		flex-wrap: wrap;
	}

	.block__column {
		flex: 1 1 50%;
	}

	.header {
		padding: 50px 0px 50px 20px;
	}

	.header__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

}

@media(max-width: 531px) {
	.gallery-item {
		flex: 0 1 100%;
	}
}